/*Agregar comentarios a cada seccion en html y css*/
@font-face { 
    font-family: "Roboto"; 
    src: url("../Assets/font/Roboto-Light.ttf"); 
}
body{
    font-family: "Roboto";
    background-color:floralwhite;
}
.container-fluid{
    padding: 0;
}
header{
    height: 12vh;
}
.navegador{
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    padding-right: 2%;
    padding-left: 2%;
    display: inline-block;
}
.navlinks{
    color: white !important;
    font-weight: bolder !important;
    font-size:x-large;
}
.gradient_main{
    background-color:  #FDD22C;
    font-size: x-large;
}
main{
    background-color:floralwhite;
    padding-top: 20px;
}
.parrafo_index{
    font-size: large;
}
.titulo_bold{
    font-weight: bolder;
}
.titulo_formulario{
    font-weight: bold;
    color: white;
    background-color: #3E7CA3;
    text-align: center; 
}
.titulo_contacto{
    font-weight: bold;
}
.parrafo_contacto{
    font-size: large;
}
.test{
    padding-left: 200px;
}
.boton_enviar{
    color:white;
    font-weight: bolder;
}
#row_background{
    background-color: #3E7CA3;
}
#row_background2{
    background-color:#7ca6c2;
}
#mapa{
    align-items: end;
    justify-content: center;
}
#fecha{
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
}
#comprar{
    color: white;
    font-weight: bolder;
    background-color: #01436b
}
#estadio{
    text-align: left;
    color: white;
    font-size: large;
    font-weight: bold;
}
#estadiosub{
    text-align: left;
    color: white;
    font-size: small;
    font-weight: bold;
}
/*galeria de imagenes*/
.centercar{
    display: flex;
    justify-content: center
}
#carouselfotosalf{
    height: 100%;
    width: 80%;
}
.carousel-img{
    width: 100%;
    height: 80%;
}
.titulo_video{
    font-size: 20px;
    margin: 5px;
    float: inline-start;
    width: 350px;
}
.videos{
    display: flex;
    justify-content: center
}
/*Tienda grid*/
.row {
    margin: 1%;
}
/* padding entre columnas */
.row,
.row > .column {
    padding: 1%;
}
/*4 columnas de productos*/
.column {
    float: left;
    width: 25%;
}
/*Limpia los floats*/
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*bloques de contenido de la tienda*/
.content {
    background-color: white;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
}
/*botoned de la tienda*/
.linkshop{
    background-color: rgb(227, 146, 60);
    font-weight: bold;
    color: white;
    margin-top: 3%;
    padding: 3% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}  
.titulo_tienda{
    margin: 2%;
    padding-top: 1%;
    font-size: larger;
    font-weight: bolder;
}
.parrafo_tienda{
    margin: 2%;
    font-weight: bold;
}
/*Mapa
.mapa{
    display: inline-block;
    padding: 5px;
}*/
footer{
    text-decoration: none;
    background-color:floralwhite;
    text-align: center;
    font-size: larger;
    font-family: Calibri, sans-serif;
}
.footerlinks{
    font-family: "Roboto";
    padding-left: 2%;
    padding-right: 2%;
    display:inline-block
}
.footer_link_decoration{
    text-decoration: none;
    color: black;
    font-family: "Roboto";
    font-weight: bolder ;
}
.footer_link_decoration:hover{
    color: gray;
}
/* para usar id e invocarlo utilizo #NombreDelId el id es el mas especifico*/
/*regla de padres e hijos - que tag esta dentro de otra, por ejemplo <a> dentro de <div> / si lo hijos tienen propiedades no heredan de los padres*/
/* para invocar class .nombreDeClase 
.colorHeader{
    background-color: rgb(231, 199, 199);
}*/
/* para comentar 
selector{
    propiedad: valor;
    propiedad: valor;
}
*/