.titulo_formulario{
    font-weight: bold;
    color: white;
    background-color: #3E7CA3;
    text-align: center; 
}
.titulo_contacto{
    font-weight: bold;
}
.parrafo_contacto{
    font-size: large;
}
.boton_enviar{
    color:white;
    font-weight: bolder;
}