header{
    height: 12vh;
    .header_navegador{
        padding-left: 2%;
        padding-right: 2%;
        text-decoration: none;
        padding-right: 2%;
        padding-left: 2%;
        display: inline-block;
    }
    .header_navlinks{
        color: white !important;
        font-weight: bolder !important;
        font-size:x-large;
    }
    #gradiente{
    background-image: linear-gradient(to right top, #0081cf, #00a6dc, #00c4b8, #45da77, #d4e139)!important;
    }
}