.parrafo_index{
    font-size: large;
    font-weight: bold;
}
.titulo_bold{
    font-weight: bolder;
}
#headerlogo{ 
    animation-name: efecto_logo!important;
    animation-duration: 5s !important;
    animation-delay: 0s !important;
}