main{
    background-color:$color-primario;
    padding-top: 20px;
    .gradient_main{
        background-color:  #FDD22C;
        font-size: x-large;
    }
    .row,
    .row > .column {
    padding: 2%;
    }
    .column {
        float: left;
        width: 25%;
    }
}
