#row_background{
    background-color: #3E7CA3;
    #mapa{
        align-items: end;
        justify-content: center;
    }
    #fecha{
        text-align: center;
        color: white;
        font-size: large;
        font-weight: bold;
    }
    #comprar{
        color: white;
        font-weight: bolder;
        background-color: #01436b
    }
    #estadio{
        text-align: left;
        color: white;
        font-size: large;
        font-weight: bold;
    }
}
#row_background2{
    background-color:#7ca6c2;
    #mapa{
        align-items: end;
        justify-content: center;
    }
    #fecha{
        text-align: center;
        color: white;
        font-size: large;
        font-weight: bold;
    }
    #comprar{
        color: white;
        font-weight: bolder;
        background-color: #01436b
    }
    #estadio{
        text-align: left;
        color: white;
        font-size: large;
        font-weight: bold;
    }
}
