/*variables*/
/*utilizo el codigo de abajo tambien para nav*/
@font-face {
  font-family: "Roboto";
  src: url("../Assets/font/Roboto-Light.ttf");
}
body {
  font-family: "Roboto";
  background-image: linear-gradient(to top, #9db5c4, #a8c3c8, #bad0cb, #d1dcd1, #e6e7dd);
}

.container-fluid {
  padding: 0;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
header {
  height: 12vh;
}
header .header_navegador {
  padding-left: 2%;
  padding-right: 2%;
  text-decoration: none;
  padding-right: 2%;
  padding-left: 2%;
  display: inline-block;
  animation: wiggle 1s;
  animation-iteration-count: 1;
}
header .header_navlinks {
  color: white !important;
  font-weight: bolder !important;
  font-size: x-large;
}
header .header_navlinks:hover {
  color: rgb(83, 82, 82) !important;
  zoom: 103% !important;
}
header .header_navlinks:focus {
  color: black !important;
}
header #gradiente {
  background-image: linear-gradient(to right top, #0081cf, #00a6dc, #00c4b8, #45da77, #d4e139) !important;
}

main {
  background-color: linear-gradient(to top, #9db5c4, #a8c3c8, #bad0cb, #d1dcd1, #e6e7dd);
  padding-top: 20px;
}
main .gradient_main {
  background-image: linear-gradient(to left, #fdd22c, #fdd22c, #fdd22c, #fdd22c, #fdd22c, #fcd339, #fad445, #f9d54f, #f6d764, #f2d978, #efdb8a, #ecdc9c);
  font-size: x-large;
}
main .row,
main .row > .column {
  padding: 2%;
}
main .column {
  float: left;
  width: 25%;
}

footer {
  text-decoration: none;
  background-color: linear-gradient(to top, #9db5c4, #a8c3c8, #bad0cb, #d1dcd1, #e6e7dd);
  text-align: center;
  font-size: larger;
}
footer .footerlinks {
  font-family: "Roboto";
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  transform: rotate(-2deg);
}
footer .footerlinks .footerlinks_linkDecorationy {
  text-decoration: none;
  color: #f02323;
  font-family: "Roboto";
  font-weight: bolder;
}
footer .footerlinks .footerlinks_linkDecorationy:hover {
  color: rgb(83, 82, 82);
}
footer .footerlinks .footerlinks_linkDecorationi {
  text-decoration: none;
  color: #C25E30;
  font-family: "Roboto";
  font-weight: bolder;
}
footer .footerlinks .footerlinks_linkDecorationi:hover {
  color: rgb(83, 82, 82);
}
footer .footerlinks .footerlinks_linkDecorationf {
  text-decoration: none;
  color: #3a5795;
  font-family: "Roboto";
  font-weight: bolder;
}
footer .footerlinks .footerlinks_linkDecorationf:hover {
  color: rgb(83, 82, 82);
}

.parrafo_index {
  font-size: large;
  font-weight: bold;
}

.titulo_bold {
  font-weight: bolder;
}

#headerlogo {
  animation-name: efecto_logo !important;
  animation-duration: 5s !important;
  animation-delay: 0s !important;
}

.titulo_formulario {
  font-weight: bold;
  color: white;
  background-color: #3E7CA3;
  text-align: center;
}

.titulo_contacto {
  font-weight: bold;
}

.parrafo_contacto {
  font-size: large;
  font-weight: bold;
}

.boton_enviar {
  color: white;
  font-weight: bolder;
}

/*galeria de imagenes*/
.centercar {
  display: flex;
  justify-content: center;
}
.centercar #carouselfotosalf {
  height: 100%;
  width: 80%;
}
.centercar .carousel-img {
  width: 100%;
  height: 80%;
}

#row_background {
  background-color: #3E7CA3;
}
#row_background #mapa {
  align-items: end;
  justify-content: center;
}
#row_background #fecha {
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
}
#row_background #comprar {
  color: white;
  font-weight: bolder;
  background-color: #01436b;
}
#row_background #estadio {
  text-align: left;
  color: white;
  font-size: large;
  font-weight: bold;
}

#row_background2 {
  background-color: #7ca6c2;
}
#row_background2 #mapa {
  align-items: end;
  justify-content: center;
}
#row_background2 #fecha {
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
}
#row_background2 #comprar {
  color: white;
  font-weight: bolder;
  background-color: #01436b;
}
#row_background2 #estadio {
  text-align: left;
  color: white;
  font-size: large;
  font-weight: bold;
}

/*Tienda grid*/
.centerprod {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerprod .card {
  width: 100%;
  height: 100%;
}
.centerprod .card .card-img-top {
  width: 100%;
  height: 15vw;
  -o-object-fit: contain;
     object-fit: contain;
  padding-top: 5px;
}
.centerprod .card .card-title {
  -o-object-fit: contain;
     object-fit: contain;
}

.sizewidgets {
  height: 400px;
  width: 100%;
  border-radius: 12px;
}

#page {
  align-items: center;
  justify-content: center;
  display: flex;
}/*# sourceMappingURL=estilos.css.map */